@import "tailwindcss";

@theme {
  --color-blue: #1505f5;
  --color-lightblue: #32ade6;
  --color-darkblue: #061120;
  --color-pink: #ff00d9;
  --font-display: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(./assets/Nunito/Nunito-VariableFont_wght.ttf) format("ttf");
}

body {
  background-color: black;
}

h1 {
  /* font-family: "Nunito"; */
}
